<%= form_for(event) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group row">
    <label class="col-2 col-form-label"></label>
    <div class="col-6">
      <% if event.image.present? %>
          <%= image_tag event.image.url %>
      <% end %>
    </div>
  </div>
  <div class="form-group row">
    <label for="image" class="col-2 col-form-label">イメージ</label>
    <div class="col-6">
      <label>
        <span class="button-green-g px-4">
          イメージを選択
          <%= f.file_field :image, placeholder: 'イメージ', id: 'image', style: 'display: none;'%>
        </span>
      </label>
    </div>
  </div>
  <div class="form-group row">
    <label for="name" class="col-2 col-form-label">タイトル</label>
    <div class="col-6">
      <%= f.text_field :name, placeholder: 'タイトル', id: 'name', class: 'form-control', maxlength: '255' %>
    </div>
  </div>
  <div class="form-group row">
    <label for="event-date" class="col-2 col-form-label">開催日</label>
    <div class="col-6 form-date">
      <%= f.datetime_select :event_date, id: 'event-date', use_month_numbers: true, :minute_step => 10, class: 'form-control'%>
    </div>
  </div>
  <div class="form-group row">
    <label for="location-url" class="col-2 col-form-label">会場名</label>
    <div class="col-6">
      <%= f.text_field :location_name, placeholder: '会場名', id: 'location_name', class: 'form-control', maxlength: '65535' %>
    </div>
  </div>
  <div class="form-group row">
    <label for="address" class="col-2 col-form-label">住所</label>
    <div class="col-6">
      <%= f.text_field :address, placeholder: '住所', id: 'address', class: 'form-control', maxlength: '65535' %>
    </div>
  </div>
  <div class="form-group row">
    <label for="location-url" class="col-2 col-form-label">会場URL</label>
    <div class="col-6">
      <%= f.text_field :location_url, placeholder: '会場URL', id: 'location-url', class: 'form-control', maxlength: '65535' %>
    </div>
  </div>
  <div class="form-group row">
    <label for="capacity" class="col-2 col-form-label">定員</label>
    <div class="col-6">
      <%= f.number_field :capacity, :min => '1', placeholder: '定員', id: 'capacity', class: 'form-control', max: 2147483647%>
    </div>
  </div>
  <div class="form-group row">
    <label for="link" class="col-2 col-form-label">関連リンク</label>
    <div class="col-6">
      <%= f.text_field :link, placeholder: '関連リンク', id: 'link', class: 'form-control', maxlength: '65535' %>
    </div>
  </div>
  <div class="form-group row">
    <label for="description" class="col-2 col-form-label">説明</label>
    <div class="col-10">
      <%= f.text_area :description, placeholder: '説明', id: 'description', class: 'form-control', rows: '10', maxlength: '65535' %>
    </div>
  </div>
  <div class="row justify-content-md-center mb-3">
    <%= f.submit 'イベントを保存', class: 'btn btn-success px-5' %>
  </div>
<% end %>
