<div class="container">
  <div id="event-edit">
    <h1>イベント編集</h1>
    <%= render 'form', event: @event %>
    <div class="row justify-content-center mb-3">
      <%= link_to 'イベントを削除', @event, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'button-red-g px-5' %>
    </div>
    <div class="row justify-content-center mb-2">
      <%= link_to 'イベント詳細', @event, class: 'button-green-g px-3 m-1' %>
      <%= link_to 'マイページに戻る', events_path, class: 'button-green-g px-3 m-1' %>
    </div>
  </div>
</div>
<%= render 'footer' %>
