<header>
  <div class="header-logo">
    Gather
  </div>
  <ul class="header-menus">
    <li><%= link_to('プロフィールを修正', '/users/edit')%></li>
    <li><%= link_to('イベントを作成', '/events/new')%></li>
    <li><%= link_to('ログアウト', '/users/sign_out')%></li>
  </ul>
</header>

<div class="container">
  <div id="event-index">
    <p id="notice"><%= notice %></p>

    <h1>イベントを検索する</h1>

    <%= form_for(@event, url: search_events_path, html: { method: :get, role: 'form' }) do |f| %>
        <div class="row justify-content-md-center">
          <div class="col-md-6">
            <%= f.text_field :name, class: 'form-control-g', placeholder: 'タイトル' %>
          </div>
          <div class="col-md-6">
            <%= f.text_field :event_date, class: 'form-control-g', placeholder: '開催日' %>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-6">
            <%= f.text_field :address, class: 'form-control-g', placeholder: '開催場所' %>
          </div>
          <div class="col-md-6">
            <%= f.text_field :description, class: 'form-control-g', placeholder: '内容' %>
          </div>
        </div>
        <div class="row justify-content-md-center">
          <div class="col-md-12 text-right">
            <%= f.submit '検索', class: 'button-blue-g px-5' %>
          </div>
        </div>
    <% end %>

    <div class="row justify-content-md-center">
      <div class="col-md-12 text-right">
        <%= link_to 'イベントを作成する', new_event_path, class: 'button-green-g px-5' %>
      </div>
    </div>

    <div>
      <h2>主催のイベント</h2>
      <div class="row">
        <% @sponsorship_events.each do |sponsorship_event| %>
            <div class="col-sm-4">
              <div class="event">
                <div class="image text-center">
                  <% if sponsorship_event.event.image.present? then %>
                      <%= image_tag sponsorship_event.event.image %>
                  <% end %>
                </div>
                <div class="info">
                  <div class="date">
                    <% if sponsorship_event.event.event_date.present? then %>
                        <%= sponsorship_event.event.event_date.strftime('%Y/%m/%d') %>
                    <% end %>
                  </div>
                  <div class="name">
                    <%= sponsorship_event.event.name %>
                  </div>
                  <div class="capacity">
                    <%= custom_format(sponsorship_event.event.capacity, '人') %>
                  </div>
                  <div>
                    <%= link_to 'イベントの詳細', sponsorship_event.event, class: 'button-green-g px-2' %>

                    <% if is_admin?(current_user.id, sponsorship_event.event.id) then %>
                      <%= link_to 'イベントを編集', edit_event_path(sponsorship_event.event), class: 'button-green-g px-2' %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
        <% if @sponsorship_events.empty? %>
          <div class="no-hosted-event">
            <p>主催のイベントはありません</p>
          </div>
        <% end %>
      </div>
    </div>

    <div>
      <h2>参加予定のイベント</h2>
      <div class="row">
        <% @participateds_events.each do |participateds_event| %>
          <div class="col-sm-4">
            <div class="event">
              <div class="image text-center">
                <% if participateds_event.event.image.present? then %>
                    <%= image_tag participateds_event.event.image %>
                <% end %>
              </div>
              <div class="info">
                <div class="date">
                  <% if participateds_event.event.event_date.present? then %>
                      <%= participateds_event.event.event_date.strftime('%Y/%m/%d') %>
                  <% end %>
                </div>
                <div class="name">
                  <%= participateds_event.event.name %>
                </div>
                <div class="capacity">
                  <%= custom_format(participateds_event.event.capacity, '人') %>
                </div>
                <div>
                  <%= link_to 'イベントの詳細', participateds_event.event, class: 'button-green-g px-2' %>

                  <% if is_admin?(current_user.id, participateds_event.event.id) then %>
                      <%= link_to 'イベントを編集', edit_event_path(participateds_event.event), class: 'button-green-g px-2' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% if @participateds_events.empty? %>
            <div class="no-hosted-event">
              <p>参加予定のイベントはありません</p>
            </div>
        <% end %>
      </div>
    </div>

    <div>
      <h2>招待されているイベント</h2>
      <div class="row">
        <% @invited_events.each do |participateds_event| %>
          <div class="col-sm-4">
            <div class="event">
              <div class="image text-center">
                <% if participateds_event.event.image.present? then %>
                    <%= image_tag participateds_event.event.image %>
                <% end %>
              </div>
              <div class="info">
                <div class="date">
                  <% if participateds_event.event.event_date.present? then %>
                      <%= participateds_event.event.event_date.strftime('%Y/%m/%d') %>
                  <% end %>
                </div>
                <div class="name">
                  <%= participateds_event.event.name %>
                </div>
                <div class="capacity">
                  <%= custom_format(participateds_event.event.capacity, '人') %>
                </div>
                <div>
                  <%= link_to 'イベントの詳細', participateds_event.event, class: 'button-green-g px-2' %>

                  <% if is_admin?(current_user.id, participateds_event.event.id) then %>
                      <%= link_to 'イベントを編集', edit_event_path(participateds_event.event), class: 'button-green-g px-2' %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% if @invited_events.empty? %>
            <div class="no-hosted-event">
              <p>招待されているイベントはありません</p>
            </div>
        <% end %>
      </div>
    </div>

  </div>
</div>