<header>
  <div class="header-logo">
    Gather
  </div>
  <ul class="header-menus">
    <li><%= link_to('プロフィールを修正', '/users/edit')%></li>
    <li><%= link_to('イベントを作成', '/events/new')%></li>
    <li><%= link_to('ログアウト', '/users/sign_out')%></li>
  </ul>
</header>

<div class="container">
  <div id="event-new">
    <h1>イベント作成</h1>

    <%= render 'form', event: @event %>
    <div class="row justify-content-md-center mb-2">
      <%= link_to 'マイページに戻る', events_path, class: 'button-green-g px-3 m-1' %>
    </div>
  </div>
</div>