<p id="notice"><%= notice %></p>

<h1>Events</h1>

<%= form_for(@event, url: search_events_path, html: { method: :get, role: 'form' }) do |f| %>
  <div>
    <label>タイトル</label>
    <%= f.text_field :name %>
    <label>開催日</label>
    <%= f.text_field :event_date %>
    <label>場所</label>
    <%= f.text_field :address %>
    <label>内容</label>
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit '検索' %>
  </div>
<% end %>

<div>
  <% @events.each do |event| %>
      <div style="border: 1px solid gray; margin-bottom: 15px;">
        <% if event.image.present? then %>
          <%= image_tag event.image %>
        <% end %>
        <label>タイトル</label>
        <div><%= event.name %></div>
        <label>開催日</label>
        <div><%= event.event_date %></div>
        <label>開催場所</label>
        <div><%= event.address %></div>
        <label>定員</label>
        <div><%= event.capacity %></div>
        <label>説明</label>
        <div><%= event.description %></div>
        <div><%= link_to 'Show', event %></div>
        <!--TODO 権限管理-->
        <!--<div><%= link_to 'Edit', edit_event_path(event) %></div>-->
        <!--<div><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></div>-->
      </div>
  <% end %>
</div>

<br>

<%= link_to 'New Event', new_event_path %>
