<script>
  $(function(){
    var domain = <%= current_env %>;
    switch (domain) {
      case 'development':
        domain = 'localhost:3000'
        break;
      case 'test':
        // TODO
        break;
      case 'production':
        domain = 'www.ittan-together.com'
        break;
    }
    $('#invitation-url').val('http://' + domain + '/users/sign_up?event_id='+<%= raw @event.id %>)
    $('#publish-url').on('click', function () {
      $('#invitation').css('display', 'block');
      $('#url-copy').on('click', function () {
        $('#invitation-url')[0].focus();
        $('#invitation-url')[0].select();
        document.execCommand('copy');
        $('#invitation').css('display', 'none');
      });
      $('#invitation-close').on('click', function () {
        $('#invitation').css('display', 'none');
      });
    });
  });
</script>

<script type="text/javascript">
    function initMap() {

      if (<%= raw @address.to_json %>){
        var test = <%= raw @lat_lng.to_json %>;
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：<%= @address %>';
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        var marker = new google.maps.Marker({
          position:test,
          map: map,
          title: contentString
        });

        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyD_KJLZR-bo1pDgbrT0VCZ60zN93joI57U&callback=initMap">
</script>

<div class="container">
  <div id="event-show">
    <% if notice %>
        <div class="alert alert-success"><p id="notice"><%= notice %></p></div>
    <% end %>
    <div class="row">
      <h1 class="col-md-5 col-sm-12"><%= @event.name %></h1>
      <div class="col-md-7 col-sm-12 text-right mt-3">
        <% if @admin %>
          <button id="publish-url" class="button-green-g">招待URL発行</button>
        <% end %>
      </div>
    </div>
    <div id="invitation">
      <div class="header">招待URL</div>
      <div class="body">
        <input id="invitation-url" value="" size="30" class="form-control mb-3">
        <div class="text-right">
          <button id="url-copy" class="btn btn-primary">コピー</button>
          <button id="invitation-close" class="btn btn-default">閉じる</button>
        </div>
      </div>
    </div>
    <h2>基本情報</h2>
    <div class="row">
      <div class="col-sm-12">
        <% if @event.image.present? then %>
            <%= image_tag @event.image.thumb, class: '' %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7 col-sm-12">
        <div class="row border-bottom">
          <label class="col-md-4 col-sm-12"><i class="fa fa-calendar fa-1x" aria-hidden="true"></i>開催日</label>
          <% if @event.event_date.present? then %>
              <div class="col-md-8 col-sm-12"><%= l(@event.event_date, format: :long) %></div>
          <% end %>
        </div>
        <div class="row border-bottom">
          <label class="col-md-4 col-sm-12"><i class="fa fa-home fa-1x" aria-hidden="true"></i>会場</label>
          <div class="col-md-8 col-sm-12">
            <%= @event.location_name %>
            <% if @event.location_url.present? then %>
              <%= link_to '', @event.location_url, class: 'icon fa fa-link ml-2' %>
            <% end %>
          </div>
        </div>
        <div class="row border-bottom">
          <label class="col-md-4 col-sm-12"><i class="fa fa-map-marker fa-1x" aria-hidden="true"></i>住所</label>
          <div class="col-md-8 col-sm-12"><%= @event.address %></div>
        </div>
        <div class="row border-bottom">
          <label class="col-md-4 col-sm-12"><i class="fa fa-user fa-1x" aria-hidden="true"></i>定員</label>
          <div class="col-md-8 col-sm-12"><%= @event.capacity %></div>
        </div>
        <div class="row border-bottom">
          <label class="col-md-4 col-sm-12"><i class="fa fa-file-text-o fa-1x" aria-hidden="true"></i>説明</label>
          <div class="col-md-8 col-sm-12"><%= simple_format(@event.description) %></div>
        </div>
        <div class="row border-bottom">
          <label class="col-md-4 col-sm-12"><i class="fa fa-link fa-1x" aria-hidden="true"></i>関連リンク</label>
          <div class="col-md-8 col-sm-12"><%= @event.link %></div>
        </div>
        <div class="row">
          <label class="col-md-4 col-sm-12"><i class="fa fa-users fa-1x" aria-hidden="true"></i><%= "参加者（#{getParticipant(@event.event_users)}人）" %></label>
        </div>
        <div class="row">
          <% @event.event_users.each do |event_user| %>
              <% if event_user.user.image.present? && (event_user.status == 1 || event_user.admin) then %>
                  <div class="user-cube col-sm-2 col-4">
                    <%= image_tag event_user.user.image.url %>
                    <div class="user-name">
                      <%= event_user.user.name %>
                    </div>
                  </div>
              <% elsif event_user.status == 1 || event_user.admin %>
                  <div class="user-cube col-sm-2 col-4">
                    <%= image_tag '/images/no-image.png' %>
                    <div class="user-name">
                      <%= event_user.user.name %>
                    </div>
                  </div>
              <% end %>
          <% end %>
        </div>
        <div class="row">
          <label class="col-md-4 col-sm-12"><i class="fa fa-user-o fa-1x" aria-hidden="true"></i>管理者</label>
        </div>
        <div class="row">
          <% @event.event_users.each do |event_user| %>
              <% if event_user.admin && event_user.user.image.present? then %>
                  <div class="user-cube col-sm-2 col-4">
                    <%= image_tag event_user.user.image.thumb %>
                    <div class="user-name">
                      <%= event_user.user.name %>
                    </div>
                  </div>
              <% elsif event_user.admin %>
                  <div class="user-cube col-sm-2 col-4">
                    <%= image_tag '/images/no-image.png' %>
                    <div class="user-name">
                      <%= event_user.user.name %>
                    </div>
                  </div>
              <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-md-5 col-sm-12">
        <div class="row"><div id="map"></div></div>
      </div>
    </div>

    <div class="button-group">
      <% if is_admin?(current_user.id, @event.id) then %>
          <div class="row justify-content-md-center mb-2">
            <%= link_to 'イベントを編集', edit_event_path(@event), class: 'button-green-g px-5 text-center' %>
          </div>
          <div class="row justify-content-md-center mb-2">
            <%= link_to 'イベントを削除', @event, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'button-red-g px-5 text-center' %>
          </div>
      <% end %>
      <div class="row justify-content-md-center mb-2">
        <%= link_to '戻る', events_path, class: 'button-green-g px-3 text-center' %>
      </div>
    </div>

  </div>

</div>
<%= render 'footer' %>
