<script>
  $(function(){
    $('#invitation-url').val('http://localhost:3000/users/sign_up?event_id='+<%= raw @event.id %>)
    $('#publish-url').on('click', function () {
      $('#invitation').css('display', 'block');
      $('#url-copy').on('click', function () {
        $('#invitation-url')[0].focus();
        $('#invitation-url')[0].select();
        document.execCommand('copy');
        $('#invitation').css('display', 'none');
      });
      $('#invitation-close').on('click', function () {
        $('#invitation').css('display', 'none');
      });
    });
  });
</script>

<script type="text/javascript">
    function initMap() {

        var test ={lat: <%= @latitude %>, lng: <%= @longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：<%= @address %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyD_KJLZR-bo1pDgbrT0VCZ60zN93joI57U&callback=initMap">
</script>

<div class="container">
  <div id="event-show">
    <% if notice %>
        <div class="alert alert-success"><p id="notice"><%= notice %></p></div>
    <% end %>
    <div class="row">
      <h1 class="col-5"><%= @event.name %></h1>
      <div class="col-7 text-left mt-3">
        <button id="publish-url" class="button-green-g">招待URL発行</button>
      </div>
    </div>
    <div id="invitation">
      <div class="header">招待URL</div>
      <div class="body">
        <input id="invitation-url" value="" size="30" class="form-control mb-3">
        <div class="text-right">
          <button id="url-copy" class="btn btn-primary">コピー</button>
          <button id="invitation-close" class="btn btn-default">閉じる</button>
        </div>
      </div>
    </div>
    <h2>基本情報</h2>
    <div class="row">
      <div class="col-7">
        <div class="row border-bottom">
          <label class="col-4"><i class="fa fa-calendar fa-1x" aria-hidden="true"></i>開催日</label>
          <% if @event.event_date.present? then %>
              <div class="col-8"><%= l(@event.event_date, format: :long) %></div>
          <% end %>
        </div>
        <div class="row border-bottom">
          <label class="col-4"><i class="fa fa-home fa-1x" aria-hidden="true"></i>会場</label>
          <div class="col-8">
            <%= @event.location_name %>
            <% if @event.location_url.present? then %>
              <%= link_to '', @event.location_url, class: 'icon fa fa-link ml-2' %>
            <% end %>
          </div>
        </div>
        <div class="row border-bottom">
          <label class="col-4"><i class="fa fa-map-marker fa-1x" aria-hidden="true"></i>住所</label>
          <div class="col-8"><%= @event.address %></div>
        </div>
        <div class="row border-bottom">
          <label class="col-4"><i class="fa fa-user fa-1x" aria-hidden="true"></i>定員</label>
          <div class="col-8"><%= @event.capacity %></div>
        </div>
        <div class="row border-bottom">
          <label class="col-4"><i class="fa fa-file-text-o fa-1x" aria-hidden="true"></i>説明</label>
          <div class="col-8"><%= simple_format(@event.description) %></div>
        </div>
        <div class="row border-bottom">
          <label class="col-4"><i class="fa fa-link fa-1x" aria-hidden="true"></i>関連リンク</label>
          <div class="col-8"><%= @event.link %></div>
        </div>
        <div class="row">
          <label class="col-4"><i class="fa fa-users fa-1x" aria-hidden="true"></i><%= "参加者（#{@event.event_users.size}人）" %></label>
        </div>
        <div class="row">
          <% @event.event_users.each do |event_user| %>
              <% if !event_user.admin && event_user.event.image.present? then %>
                  <div class="col-2">
                    <%= image_tag event_user.user.image.url %>
                  </div>
              <% end %>
          <% end %>
        </div>
        <div class="row">
          <label class="col-4"><i class="fa fa-user-o fa-1x" aria-hidden="true"></i>管理者</label>
        </div>
        <div class="row">
          <% @event.event_users.each do |event_user| %>
              <% if event_user.admin && event_user.user.image.present? then %>
                  <div class="col-2">
                    <%= image_tag event_user.user.image.url %>
                  </div>
              <% end %>
          <% end %>
        </div>
      </div>
      <div class="col-5">
        <div class="row"><div id="map"></div></div>
      </div>
    </div>


    <% if is_admin?(current_user.id, @event.id) then %>
        <div class="row justify-content-md-center mb-2">
          <%= link_to 'イベントを編集', edit_event_path(@event), class: 'button-blue-g px-5' %>
        </div>
        <div class="row justify-content-md-center mb-2">
          <%= link_to 'イベントを削除', @event, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger px-5' %>
        </div>
    <% end %>
    <div class="row justify-content-md-center mb-2">
      <%= link_to '戻る', events_path, class: 'button-green-g px-3' %>
    </div>

  </div>

</div>