<header>
  <div class="header-logo">
    Gather
  </div>
</header>

<div class="container">
  <div id="user-password">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="row justify-content-md-center text-center icon-box">
        <div class="col-md-8 col-md-offset-2">
          <%= f.email_field :email, autofocus: true , class: 'form-control-g', placeholder: '登録したメールアドレス' %>
        </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="col-md-8 col-md-offset-2 text-right">
          <%= f.submit "パスワードリセットの案内をメールに送る", class: 'button-blue-g px-5' %>
        </div>
      </div>

    <% end %>

    <%- if controller_name != 'sessions' %>
        <div class="row justify-content-md-center">
          <div class="col-md-8 col-md-offset-2 text-right">
            <%= link_to "アカウントを持っている方はこちら", new_session_path(resource_name), class: 'button-blue-g px-5' %>
          </div>
        </div>
    <% end -%>

    <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
        <div class="row justify-content-md-center">
          <div class="col-md-8 col-md-offset-2 text-right">
            <%= link_to "新規アカウント作成", new_registration_path(resource_name), class: 'button-blue-g px-5' %>
          </div>
        </div>
    <% end -%>
  </div>
</div>
