<!DOCTYPE html>
<html>
  <head>
    <title>Together</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>
    <script>
      $(function(){
        $('.navbar-toggler').on('click', function() {
          if($('#navbarsExampleDefault' + '.show').length == 0){
            $('#navbarsExampleDefault').addClass('show');
            $('.navbar-toggler').attr('aria-expanded', true);
          }else{
            $('#navbarsExampleDefault').removeClass('show');
            $('.navbar-toggler').attr('aria-expanded', false);
          }
        })
      });
    </script>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top navbar-right">
      <a class="navbar-brand" href="/events">
        <img src="/images/together-logo-black.png" alt="">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <% if user_signed_in? %>
            <ul class="navbar-nav mr-auto header-menus">
              <li class="nav-item"><%= link_to('プロフィールを修正', '/users/edit', class: 'nav-link')%></li>
              <li class="nav-item"><%= link_to('イベントを作成', '/events/new', class: 'nav-link')%></li>
              <li class="nav-item"><%= link_to('ログアウト', '/users/sign_out', class: 'nav-link')%></li>
            </ul>
        <% else %>
            <ul class="navbar-nav mr-auto header-menus">
              <li class="nav-item"><%= link_to('新規登録', '/users/sign_up', class: 'nav-link')%></li>
              <li class="nav-item"><%= link_to('ログイン', '/users/sign_in', class: 'nav-link')%></li>
            </ul>
        <% end %>
      </div>
    </nav>
    <%= yield %>
  </body>

</html>
